body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

}


header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

.entry-page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 15px;
    height: 80vh;
}

.heading{
    margin-bottom: 60px;
}


.image{
    width: 300px;
    height: 300px;
    margin: 40px;
}

.explanation{
    margin: 20px;
}


.entry-btn{
    background: #007bff;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid transparent;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
}
.entry-btn:hover{
    background:#0056b3 ;
    color: #fff;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
}